<div class="category-body">


    <div class="item item-divider category-header"  >
      <h2 class="category-title"><b>Choose the category</b></h2>
		
     <div class="list">

	    <a class="item category-item" href="#" ng-click="popClose(1)" >
          Accident
      </a>

      <a class="item category-item"" href="#"  ng-click="popClose(2)"  >
          Disaster
      </a>
      <a class="item category-item"" href="#"  ng-click="popClose(3)"  >
          Environmental
      </a>
          
		 </div>
     
    </div>


</div>
     